@font-face {
  font-family: "AudiTypeExtendedNormal";
  src: url("/fonts/AudiType-ExtendedNormal.woff2") format('woff');
}

@font-face {
  font-family: "AudiTypeExtendedBold";
  src: url("/fonts/AudiType-ExtendedBold.woff") format('woff');
  font-weight: bold;
}

:root {
  /* --playerWidth: 700px;
  --playerHeight: 394px; */
  --fullscreenButtonWidth: 30px;
  --fullscreenButtonHeight: 30px;
}

html {
  font-size: 0.8rem;
}

video {
  height: 100%;
  max-width: 100%;
}

.text {
  color: black;
  font-family: verdana, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  left: 10%;
  width: var(--playerWidth);
  position: relative;
}


h2 {
  position: absolute;
  width: 100%;
}

h2 span {
  position: relative;
  color: white;
  font: bold 14px verdana;
  font-weight: 300;
  letter-spacing: 0px;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  bottom: 42px;
  vertical-align: bottom;
}

#configuration {
  position: absolute;
  z-index: 100;
  bottom: 0px;
	right: 2px;
  margin: 2px;
  vertical-align: bottom;
}

.configbutton {
  width: 150px !important
}


p {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#content {
  margin-left: auto;
}

a[data-toggle="collapse"] {
  position: relative;
}

#ck-fullscreen {
  /* width: var(--fullscreenButtonWidth);
  height: var(--fullscreenButtonHeight);
  margin:2px;
  padding:2px;
  box-sizing: border-box; */
  cursor: pointer;
  color: var(--colour4);
  font-size: 2rem;
}

#ck-fullscreen:hover {
	opacity: 0.5;
}

.fullscreen-btn {
  width: 100%;
  height: 100%;
}

/************************************************************/
/* Player full screen css (different event for each browser */
/************************************************************/
#player:-webkit-full-screen {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#player:-moz-full-screen {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#player:-ms-fullscreen {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#player:fullscreen {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#player.fullscreen {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
}

#player.fullscreen #configuration {
  position: fixed;
}

#FillWindow {
  display: none;
}

/* Stuff with bootstrap here */
.form-group {
  width: 100%;
  overflow-x: auto;
}
.form-group > input,
.form-group > select {
  width: 100px;
  display: block;
  margin-bottom: 1px;
}